html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0.8rem 0.8rem 1.4rem 0.8rem;

  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;

  @media screen and (min-width: 30rem) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media screen and (min-width: 50rem) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

input,
textarea {
  padding: 0.6rem;
  border: 1px solid #C8CACC;
  border-radius: 4px;
  width: 100%;
  background-color: #F5F6F8;
  font-family: 'Inconsolata', monospace;
  font-size: inherit;
}

th {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
